/* Global Variables */

:root {
    --text: #FAFAFA;
    --text-nav-head: #ff1744;
    --text-preface-header: #ff1744;
    --background-main: #212121;
    --background-div-1: #616161;
    --background-div-2: #424242;
    --font-main: sans-serif;
}

html, body {
    margin: auto;
    height: 100%;
    color: var(--text);
    font-family: var(--font-main);
}

button {
    border: none;
}

a {
    color: var(--text);
}

#href-button {
    cursor: pointer;
}

/* Classes go below */

.html-bg {
    background-color: var(--background-main);
}

.nav-bar {
    background-color: var(--background-div-1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bar.titlecard {
    display: inline-block;
    color: var(--text-nav-head);
}

.nav-bar.titlecard p {
    font-size: 1.5em;
}

.nav-bar h1 {
    font-size: 2em;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-bar > button {
    background-color: var(--background-div-1);
    color: var(--text);
    width: 25%;
    font-size: 1.5em;
    margin: auto;
}


div.preface-card {
    display: block;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: var(--background-div-2);
}

.preface-card.image {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.preface-card.link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.preface-card h2 {
    text-align: center;
    font-size: 1.75em;
    color: var(--text-preface-header);
}

.preface-card p {
    text-align: center;
    padding: 5px;
    font-size: 1.25em;
}
.preface-card.alt p {
    text-align: right;
}

.preface-card img {
    display: inline;
    padding: 5px;
    float: right;
    max-width: 800px;
    max-height: 400px;
}
.preface-card.alt img {
    float: left;
}


.preface-card li {
    font-size: 1.25em;
}

p.trivia {
    font-size: 0.75em;
    text-align: left;
}

div.model {
    display: block;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 60%;
}

.model canvas {
    width: 80%;
    height: 10%;
    display: inline-block;
}



/* Mobile go below */
@media only screen and (max-width: 1400px) {
    .preface-card.image {
        flex-direction: column;
    }
    .preface-card img {
        float: none;
        max-width: 100%;
        max-height: initial;
    }
    .preface-card.image p {
        text-align: center;
    }
    .preface-card.alt p {
        text-align: center;
    }
    .nav-bar.titlecard p {
        font-size: 0.9em;
    }
    .nav-bar > button {
        width: 25%;
        font-size: 0.9em;
        padding: 2.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-bar {
        flex-direction: column;
        text-align: center;
    }
}
